---
Checks: >-
  bugprone-*,performance-*,portability-*,readability-*,-readability-identifier-length,
  modernize-*,-modernize-use-trailing-return-type,
  cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-owning-memory,
  misc-*
WarningsAsErrors: ""
HeaderFilterRegex: "^(include|src)/"
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: "NULL,0"
